body{
  background-color:rgb(128,128,128);
}

h2{
  color:red;
  font-family: cursive;
  font-style: italic;
  font-size:30px;
}

p{
  color:red;
  font-family:cursive;
  font-size:20px;
  display:inline-block;
}

video{
  width:50%;
  display:flex 50vh;
  border:solid;
}

h2:hover{
  color:black;
  background-color: red;
  text-shadow: 3px 3px 5px blue;
}

p:hover{
  color:black;
  background-color: red;
}

video:active{
  color:red;
  animation-delay: 20s;
  box-shadow: 10px 8px 20px red;
}

div{
  display:flex 50vh;
}

audio{
  overflow:hidden;
}